/* Default responsive images & placeholder display. */
.img-responsive {
  width: 100%;
  outline: #aaa;
  background: #ccc url(../img/loader.gif) center center no-repeat;
}
/* Prevent UX bugs on :
 * Ctools modals
 * Tablesort
 */
.ctools-modal-content .img-responsive,
table th .img-responsive {
  width: auto;
  outline: none;
  background: transparent;
}
